@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot");
  src: url("../fonts//icomoon.eot") format("embedded-opentype"), url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-filter_alt:before {
  content: "\e901"; }

.icon-navigate_before:before {
  content: "\e903"; }

.icon-cheveron-left:before {
  content: "\e902"; }

.icon-caret-down:before {
  content: "\e900"; }

.icon-checkmark:before {
  content: "\ea10"; }

.icon-chevron-left1:before {
  content: "\e909"; }

.icon-chevron-right:before {
  content: "\e90b"; }

.icon-filter1:before {
  content: "\e905"; }

/*animation*/
@keyframes fadein {
  0% {
    opacity: .4; }
  50% {
    opacity: .8; }
  100% {
    opacity: 1;
    background: none; } }

@keyframes sticky {
  0% {
    top: -100px; }
  100% {
    top: 0; } }

@keyframes fadeworksIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeInMenu {
  0% {
    opacity: 0; }
  10% {
    opacity: 0.01; }
  20% {
    opacity: 0.02; }
  30% {
    opacity: 0.05; }
  40% {
    opacity: 0.06; }
  50% {
    opacity: 0.2; }
  60% {
    opacity: 0.4; }
  70% {
    opacity: 0.6; }
  80% {
    opacity: 0.8; }
  90% {
    opacity: 0.85; }
  100% {
    opacity: 1; } }

@keyframes wow {
  from {
    opacity: 0;
    position: relative;
    top: 200px; }
  to {
    opacity: 1;
    position: relative;
    top: 0px; } }

@keyframes buttonVideo {
  from {
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.5); }
  to {
    opacity: 100;
    background-color: rgba(41, 128, 185, 0.5); } }

@keyframes rotate {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg); } }

@keyframes fadeInMenu {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/*
@keyframes fadeOut {
      0%{
        opacity: 1;
       
    }
    
    100%{
        
        opacity: 0;
      
       
        
    }
}*/
@keyframes expand {
  0% {
    width: 0; }
  100% {
    width: 100%; } }

@keyframes fadeInMenu {
  0% {
    opacity: 0; }
  10% {
    opacity: 0.01; }
  20% {
    opacity: 0.02; }
  30% {
    opacity: 0.05; }
  40% {
    opacity: 0.06; }
  50% {
    opacity: 0.2; }
  60% {
    opacity: 0.4; }
  70% {
    opacity: 0.6; }
  80% {
    opacity: 0.8; }
  90% {
    opacity: 0.85; }
  100% {
    opacity: 1; } }

html {
  font-size: 62.5%; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-size: 16px;
  margin: auto;
  /*   height: 4000px;*/
  background-image: url(../imgs/options.png);
  background-size: cover;
  background-repeat: no-repeat; }

input {
  background: none;
  border: none; }
  input:focus {
    outline: 0; }

button {
  background: none;
  border: none; }
  button:focus {
    outline: 0; }

a {
  text-decoration: none;
  display: inline-block; }

img {
  display: block; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

.btnwallet {
  border-radius: 8px;
  background-color: #4fa8eb;
  color: #fff;
  font-family: 'Kanit', sans-serif;
  padding: 3.3rem 11.4rem;
  font-size: 30px;
  cursor: pointer;
  align-self: flex-end;
  text-transform: uppercase;
  font-weight: bold;
  box-shadow: 0px -1px 11px 2px #4fa8eb;
  transition: .5s; }
  .btnwallet:hover {
    transform: scale(1.02); }

#selectcoins, #selectoins2 {
  cursor: pointer;
  background-color: #0e2954;
  width: 108px !important;
  border-top-right-radius: 8px !important;
  border-bottom-right-radius: 8px !important; }

.dd-select {
  border-top-right-radius: 8px !important;
  border-bottom-right-radius: 8px !important; }

.dd-selected, .dd-select {
  cursor: pointer;
  background-color: #0e2954;
  border-color: #0e2954 !important;
  width: 108px !important;
  background-color: transparent !important;
  height: 70px;
  padding-left: 20px; }

.dd-options {
  width: 100% !important;
  box-shadow: none !important;
  border: none !important; }

.dd-option {
  height: 70px;
  background-color: #173564;
  border-bottom: 1px solid #0e2954 !important; }

.dd-pointer {
  right: 30px !important;
  top: 54% !important; }

.dd-option-selected {
  background-color: #173564 !important; }

.dd-pointer-down {
  border-top: solid 5px #fff !important; }

#selectcoins .dd-pointer-up {
  border-bottom: solid 5px #fff !important; }

#selectoins2 .dd-pointer-up {
  border-bottom: solid 5px #fff !important; }

.dd-option img.dd-option-image {
  margin-left: 21px !important;
  margin-top: 10px !important; }

.welcomepage {
  height: 100vh;
  background-image: url(../imgs/bkgroundwelcom.png);
  background-size: cover;
  background-position: -70px center;
  opacity: 1;
  transition: .5s; }
  .welcomepage.hide {
    opacity: 0; }
  .welcomepage form {
    width: 1600px;
    max-width: 100%;
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    height: 500px;
    flex-direction: column;
    align-content: center;
    justify-items: center;
    align-items: center;
    height: 100vh;
    justify-content: center; }
    .welcomepage form .input-button {
      border-radius: 8px;
      background-color: #4fa8eb;
      width: 430px;
      max-width: 100%;
      text-align: center;
      align-items: flex-end;
      align-self: flex-end;
      box-shadow: 0px -1px 11px 2px #4fa8eb;
      transition: .3s;
      cursor: pointer; }
      .welcomepage form .input-button:hover {
        transform: scale(1.05); }
      .welcomepage form .input-button .welcomeBtn {
        padding: 2.2rem 0;
        font-size: 30px;
        font-family: "Kanit";
        color: white;
        font-weight: bold;
        line-height: 1.2;
        text-align: center;
        font-family: 'Kanit', sans-serif;
        text-transform: uppercase;
        width: 100%;
        cursor: pointer; }

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: auto;
  padding: 2rem 2rem;
  position: relative; }
  header::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #122b54; }
  header .menubar a {
    display: flex;
    width: 130px;
    justify-content: space-between;
    align-items: center; }
  header .menubar span {
    color: #fff; }

.form-freeze form {
  width: 900px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15rem; }
  .form-freeze form.plusWidth {
    width: 70%; }

.form-freeze .input-group {
  display: flex;
  align-items: stretch;
  position: relative; }
  .form-freeze .input-group input {
    width: 320px;
    background-color: #fff;
    padding: 2.1rem  0;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    font-size: 24px;
    color: #000;
    padding-left: 2rem;
    font-weight: bold; }
    .form-freeze .input-group input::placeholder {
      font-size: 24px;
      font-family: 'Kanit', sans-serif;
      color: #9fb2d0;
      font-weight: bold;
      text-transform: capitalize; }
  .form-freeze .input-group .cta.noborder {
    border-bottom-right-radius: 0; }
  .form-freeze .input-group .cta .dropIcon {
    transition: .5s; }
    .form-freeze .input-group .cta .dropIcon.rotate {
      transform: rotate(180deg); }
  .form-freeze .input-group .cta, .form-freeze .input-group .bnb {
    width: 110px;
    background-color: #0e2954;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    display: none !important; }
    .form-freeze .input-group .cta img, .form-freeze .input-group .bnb img {
      margin-right: 3rem;
      display: inline-block; }
    .form-freeze .input-group .cta span, .form-freeze .input-group .bnb span {
      /*   margin-left: 1.5rem;
                display: inline-block;
                cursor: pointer;
                font-size: 18px;*/
      color: #fff;
      /*  position: absolute;
                top: 0;
                right: 0;
                @include centerElement();
                left: 60%;*/ }
    .form-freeze .input-group .cta ul, .form-freeze .input-group .bnb ul {
      width: 100%;
      height: 100%;
      overflow: hidden; }
      .form-freeze .input-group .cta ul li, .form-freeze .input-group .bnb ul li {
        height: 100%;
        border-bottom-right-radius: 8px; }
        .form-freeze .input-group .cta ul li:nth-child(2), .form-freeze .input-group .bnb ul li:nth-child(2) {
          background-color: #173564; }
  .form-freeze .input-group .bnb {
    position: absolute;
    right: 0;
    bottom: -24px;
    top: 70px;
    height: 70px;
    opacity: 0;
    background-color: #173564;
    z-index: 999; }
    .form-freeze .input-group .bnb.show {
      opacity: 1;
      border-top-right-radius: 0; }
    .form-freeze .input-group .bnb .dummyspan {
      display: block;
      width: 100%;
      height: 100%; }
  .form-freeze .input-group .youhave {
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    color: #31548b;
    display: inline-block;
    text-transform: capitalize;
    position: absolute;
    bottom: -25px;
    left: 0; }
    .form-freeze .input-group .youhave b {
      font-weight: normal;
      color: #fff; }
  .form-freeze .input-group .txtrightsend {
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    color: #31548b;
    display: inline-block;
    text-transform: capitalize;
    position: absolute;
    bottom: -23px;
    right: 0;
    display: none; }
    .form-freeze .input-group .txtrightsend.show {
      display: block; }
    .form-freeze .input-group .txtrightsend b {
      font-weight: normal;
      color: #fff; }

.form-freeze .bthinput {
  position: relative; }
  .form-freeze .bthinput .btnwallet {
    font-size: 24px;
    padding: 1.75rem 15.8rem;
    display: block;
    letter-spacing: .75px; }
  .form-freeze .bthinput .txtunfreeze {
    position: absolute;
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    color: #31548b;
    bottom: -25px;
    display: none; }
    .form-freeze .bthinput .txtunfreeze.show {
      display: block; }
    .form-freeze .bthinput .txtunfreeze img {
      position: absolute;
      top: -3px;
      right: 25px;
      cursor: pointer; }
    .form-freeze .bthinput .txtunfreeze b {
      color: #fff;
      display: inline-block;
      margin-left: 1.5rem;
      color: #fff;
      font-weight: 400; }
  .form-freeze .bthinput .freeze {
    padding: 1.75rem 17.25rem; }
    .form-freeze .bthinput .freeze.chStyle {
      background-color: #ff1e63;
      box-shadow: 0px -1px 8px 2px #ff1e63;
      padding: 1.75rem 15.5rem; }
  .form-freeze .bthinput > a {
    position: absolute;
    right: 0;
    bottom: -25px;
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    color: #ff1e63;
    letter-spacing: .5px; }
    .form-freeze .bthinput > a.color {
      color: #4fa8eb; }

.content {
  color: #fff;
  text-align: center;
  margin-top: 14rem; }
  .content h1 {
    font-family: 'Kanit', sans-serif;
    font-size: 50px;
    font-weight: bold; }
  .content p {
    font-size: 21px;
    font-family: 'Lato', sans-serif;
    color: #4fa8eb;
    width: 1280px;
    margin: auto;
    margin-top: 1.5rem; }

.unfreeze-formcontent .unfreezeform {
  width: 1360px;
  max-width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15rem; }

.unfreeze-formcontent .input-group {
  display: flex;
  align-items: stretch;
  position: relative; }
  .unfreeze-formcontent .input-group input {
    width: 320px;
    background-color: #fff;
    padding: 2.1rem  0;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    font-size: 24px;
    color: #000;
    padding-left: 2rem;
    font-weight: bold; }
    .unfreeze-formcontent .input-group input::placeholder {
      font-size: 24px;
      font-family: 'Kanit', sans-serif;
      color: #9fb2d0;
      font-weight: bold;
      text-transform: capitalize; }
  .unfreeze-formcontent .input-group .cta.noborder {
    border-bottom-right-radius: 0; }
  .unfreeze-formcontent .input-group .cta .dropIcon {
    transition: .5s; }
    .unfreeze-formcontent .input-group .cta .dropIcon.rotate {
      transform: rotate(180deg); }
  .unfreeze-formcontent .input-group .cta, .unfreeze-formcontent .input-group .bnb {
    width: 110px;
    background-color: #0e2954;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    display: none !important; }
    .unfreeze-formcontent .input-group .cta img, .unfreeze-formcontent .input-group .bnb img {
      margin-right: 3rem;
      display: inline-block; }
    .unfreeze-formcontent .input-group .cta span, .unfreeze-formcontent .input-group .bnb span {
      /*   margin-left: 1.5rem;
                display: inline-block;
                cursor: pointer;
                font-size: 18px;*/
      color: #fff;
      /*  position: absolute;
                top: 0;
                right: 0;
                @include centerElement();
                left: 60%;*/ }
    .unfreeze-formcontent .input-group .cta ul, .unfreeze-formcontent .input-group .bnb ul {
      width: 100%;
      height: 100%;
      overflow: hidden; }
      .unfreeze-formcontent .input-group .cta ul li, .unfreeze-formcontent .input-group .bnb ul li {
        height: 100%;
        border-bottom-right-radius: 8px; }
        .unfreeze-formcontent .input-group .cta ul li:nth-child(2), .unfreeze-formcontent .input-group .bnb ul li:nth-child(2) {
          background-color: #173564; }
  .unfreeze-formcontent .input-group .bnb {
    position: absolute;
    right: 0;
    bottom: -24px;
    top: 70px;
    height: 70px;
    opacity: 0;
    background-color: #173564;
    z-index: 999; }
    .unfreeze-formcontent .input-group .bnb.show {
      opacity: 1;
      border-top-right-radius: 0; }
    .unfreeze-formcontent .input-group .bnb .dummyspan {
      display: block;
      width: 100%;
      height: 100%; }
  .unfreeze-formcontent .input-group .youhave {
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    color: #31548b;
    display: inline-block;
    text-transform: capitalize;
    position: absolute;
    bottom: -25px;
    left: 0; }
    .unfreeze-formcontent .input-group .youhave b {
      font-weight: normal;
      color: #fff; }
  .unfreeze-formcontent .input-group .txtrightsend {
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    color: #31548b;
    display: inline-block;
    text-transform: capitalize;
    position: absolute;
    bottom: -23px;
    right: 0; }
    .unfreeze-formcontent .input-group .txtrightsend.show {
      display: block; }
    .unfreeze-formcontent .input-group .txtrightsend b {
      font-weight: normal;
      color: #fff; }

.unfreeze-formcontent .bthinput {
  position: relative; }
  .unfreeze-formcontent .bthinput .btnwallet {
    font-size: 24px;
    padding: 1.75rem 15.8rem;
    display: block;
    letter-spacing: .75px; }
  .unfreeze-formcontent .bthinput .txtunfreeze {
    position: absolute;
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    color: #31548b;
    bottom: -25px; }
    .unfreeze-formcontent .bthinput .txtunfreeze.show {
      display: block; }
    .unfreeze-formcontent .bthinput .txtunfreeze img {
      position: absolute;
      top: -3px;
      right: 25px;
      cursor: pointer; }
    .unfreeze-formcontent .bthinput .txtunfreeze b {
      color: #fff;
      display: inline-block;
      margin-left: 1.5rem;
      color: #fff;
      font-weight: 400; }
  .unfreeze-formcontent .bthinput .freeze {
    padding: 1.75rem 17.25rem; }
  .unfreeze-formcontent .bthinput .unfreezebtn {
    background-color: #ff1e63;
    box-shadow: 0px -1px 8px 2px #ff1e63;
    padding: 1.75rem 15.5rem; }
  .unfreeze-formcontent .bthinput .switch-un-freeze {
    position: absolute;
    right: 0;
    bottom: -25px;
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    color: #4fa8eb;
    letter-spacing: .5px; }
    .unfreeze-formcontent .bthinput .switch-un-freeze.color {
      color: #4fa8eb; }

.unfreeze-formcontent .recieve {
  position: relative; }
  .unfreeze-formcontent .recieve .txtrightsendreceive {
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    color: #31548b;
    display: inline-block;
    text-transform: capitalize;
    position: absolute;
    bottom: -25px;
    right: 0; }
    .unfreeze-formcontent .recieve .txtrightsendreceive b {
      color: #fff;
      font-weight: 400;
      display: inline-block;
      margin-left: .5px; }
    .unfreeze-formcontent .recieve .txtrightsendreceive.show {
      display: block; }
  .unfreeze-formcontent .recieve input {
    background-color: #224782; }
  .unfreeze-formcontent .recieve.show {
    display: flex; }

.content {
  color: #fff;
  text-align: center;
  margin-top: 14rem; }
  .content h1 {
    font-family: 'Kanit', sans-serif;
    font-size: 50px;
    font-weight: bold; }
  .content p {
    font-size: 21px;
    font-family: 'Lato', sans-serif;
    color: #4fa8eb;
    width: 1280px;
    margin: auto;
    margin-top: 1.5rem; }

/*some changes in select box */
.unfreeze-formcontent #selectcoins .dd-select {
  padding-left: 10px; }

.unfreeze-formcontent #selectcoins .dd-pointer {
  right: 20px !important; }

.unfreeze-formcontent #selectcoins .dd-option img.dd-option-image {
  margin-left: 15px !important; }

.popupsuccess {
  background-color: #020e22;
  width: 1359px;
  max-width: 100%;
  padding: 10.1rem 0;
  border-radius: 20px;
  position: relative;
  box-shadow: 0px -1px 5px 2px #020e22;
  /*center element in center of the screen */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999999; }

.popupsuccess h2 {
  font-size: 36px;
  font-family: 'Kanit', sans-serif;
  color: white;
  font-weight: bold;
  text-align: center; }

.popupsuccess h2 span {
  color: #4fa8eb; }

.howtoadd {
  position: relative;
  color: #4fa8eb;
  font-family: 'Kanit', sans-serif;
  text-align: center;
  margin: 0; }

.howtoadd img {
  position: relative;
  top: -10px;
  cursor: pointer;
  display: inline; }

.closepopup {
  position: absolute;
  top: 30px;
  right: 35px;
  cursor: pointer;
  transition: .3s; }

.closepopup:hover {
  transform: rotate(180deg); }
